/* ===== トップページ ===== */

.images {
  display: flex;
}

.images img {
  width: 50%;
  height: auto;
  object-fit: cover;
}

.top-content {
  text-align: center;
  margin: 50px 0;
}

.features {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.feature {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.feature img {
  width: 40%;
  border-radius: 10px;
  margin-right: 60px;
}

.feature-text h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.feature-text p {
  font-size: 18px;
  line-height: 1.5;
}
